{% extends "base.html" %}

{% block title %}
News - Dashboard
{% endblock %}

{% block content %}
<!-- Block for the main content of the page -->
<h2>Reddit Posts from r/cyberpunkgame</h2>
<div class="post-grid">
  {% for article in news %}
    <div class="post-card">
      <div class="post-header">
        <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
      </div>
      <div class="post-body">
        {% if article.image %}
          <img src="{{ article.image }}" alt="preview">
        {% else %}
          <p>No image available</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
